h1, h2, h3, h4, h5, h6{
font-family: "museo-sans",sans-serif;
text-align:center;
color:#808080;
}
h1{
font-size:48px;
}
h2{
font-size:36px;
}
h3{
font-size:30px;
}
h4{
font-size:24px;
}
h5{
font-size:18px;
}
h6{
font-size:12px;
}
p,td,th{
font-family: "prenton",sans-serif;
font-size:12px;
}

a{
color:red;
}